@import '@/globals';

@frame-padding: 2rem;

.company-frame-wrapper {
  display: flex;
  width: 100%;
  min-height: 43.5rem;
  flex-direction: column;
  padding: @frame-padding;
  border-radius: 0.5rem;
  background-color: @desktop-card-white;
}

.company-data-grid {
  display: grid;
  width: 100%;
  flex: 1;
  gap: 1.5rem;
  grid-template-columns: 48% 1fr;
  margin-block-end: 1.25rem;
}

.hr {
  position: relative;
  right: @frame-padding;
  width: calc(100% + @frame-padding * 2);
  border: 0.5px solid;
  background-color: @brand-black;
  margin-block-start: calc(5.25rem - @frame-padding);
}

.left-column-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-block-start: 1.625rem;
}

.logo-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 17.5rem;
  height: 7rem;
  align-items: center;
  align-self: center;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
}

.image {
  height: 100%;
}

.loader-wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 7rem;
  border-radius: 0.5rem;
  margin-block-start: 1.5rem;
}

.company-text-data {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-block-start: 1.5rem;
}

.name {
  color: @brand-black;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  margin-block-end: 0.75rem;
}

.description {
  color: @brand-black;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
}

.company-info-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: @brand-black;
  font-size: 0.9375rem;
  font-weight: 400;
  gap: 1rem;
  line-height: 120%;

  & > * {
    display: flex;
    align-items: center;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }
}

.footer-hr {
  position: relative;
  right: @frame-padding;
  width: calc(100% + @frame-padding * 2);
  border: 0.5px solid;
  margin-block-end: 1.5rem;
}

@media screen and (width <= 678px) {
  .company-frame-wrapper {
    width: unset;
    min-height: unset;
    padding: 0;
    margin: 0 1rem 2rem;
    background-color: @brand-white;
  }

  .left-column-wrapper {
    margin-block-start: 0;
  }

  .hr {
    position: static;
    width: 100%;
    margin-block-start: 0;
  }

  .company-data-grid {
    position: relative;
    display: block;
    width: 100%;
    margin-block-end: 0;
  }

  .name {
    margin: 1.25rem 1.25rem 0.75rem;
  }

  .description {
    margin: 1.25rem 1.25rem 0.75rem;
    color: @alt-text-color;
  }

  .loader-wrapper {
    height: 10rem;
  }

  .company-text-data {
    padding: 1rem 1.25rem;
    margin-block-start: 1rem;
  }

  .footer-hr {
    position: static;
    width: 100%;
    margin-block-end: 1.5rem;
  }

  .footer-wrapper {
    border-radius: 0 0 0.5rem 0.5rem;
    margin: 0 1rem;
    background-color: @brand-white;
  }
}
