@import '@/globals';

.footer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  cursor: not-allowed;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  transition: all 0.15s ease-in-out;

  &:focus-visible,
  &:hover {
    filter: invert(100%) drop-shadow(0 0 0.1rem @brand-black);
  }
}
