@import '@/globals';

@frame-padding: 2rem;
@mobile-shift: -3rem;

.person-frame-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 43.5rem;
  flex-direction: column;
  padding: @frame-padding;
  border-radius: 0.5rem;
  background-color: @desktop-card-white;
}

.person-data-grid {
  display: grid;
  width: 100%;
  flex: 1;
  gap: 1.5rem;
  grid-template-columns: 48% 1fr;
  margin-block-end: 1.25rem;
}

.logo-wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 17.5rem;
  height: 4rem;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin-block-end: 2.1875rem;
}

.image {
  height: 100%;
}

.hr {
  position: relative;
  right: 1.5rem;
  width: calc(100% + @frame-padding + 1.5rem);
  border: 0.5px solid;
  background-color: @brand-black;
}

.person-data-wrapper {
  display: flex;
  flex-direction: column;
}

.loader-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  margin-block-start: 1.5rem;
}

.person-text-data {
  display: flex;
  height: 100%;
  flex-direction: column;
  margin-block-start: 1.5rem;
}

.name {
  color: @brand-black;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 120%;
  margin-block-end: 0.75rem;
}

.job-title {
  color: #455773;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 120%;
  margin-block-end: 1.375rem;
}

.person-info-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  color: @brand-black;
  font-size: 0.9375rem;
  font-weight: 400;
  gap: 0.75rem;
  line-height: 120%;

  & > * {
    display: flex;
    align-items: center;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }
}

.footer-hr {
  position: relative;
  right: @frame-padding;
  width: calc(100% + @frame-padding * 2);
  border: 0.5px solid;
  margin-block-end: 1.5rem;
}

.mobile-action-buttons-wrapper {
  position: relative;
  top: @mobile-shift;
  display: flex;
  padding: 0 1rem;
  gap: 0.8125rem;

  & > * {
    flex: 1;
  }
}

@media screen and (width <= 678px) {
  .person-frame-wrapper {
    min-height: unset;
    padding: @frame-padding 0;
  }

  .person-data-grid {
    position: relative;
    display: block;
    width: 100%;
    margin-block-end: 0;
  }

  .loader-wrapper {
    height: 20rem;
  }

  .logo-wrapper {
    margin-block-end: 1.65rem;
  }

  .person-data-wrapper {
    position: relative;
    top: @mobile-shift;
    margin: 0 1rem;
  }

  .person-text-data {
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: @brand-white;
  }

  .name {
    padding: 1rem 1rem 0;
    margin-block-end: 0.5rem;
  }

  .job-title {
    padding: 0 1rem;
    margin-block-end: 1rem;
  }

  .hr {
    position: static;
    width: 100%;
    margin-block-end: 0.75rem;
  }

  .person-info-wrapper {
    padding: 0 1rem 1rem;
  }

  .footer-hr {
    position: static;
    width: 100%;
    margin-block-end: 1.5rem;
  }

  .footer-wrapper {
    position: relative;
    top: @mobile-shift;
    border-radius: 0 0 0.5rem 0.5rem;
    margin: 0 1rem;
    background-color: @brand-white;
    margin-block-end: @mobile-shift;
  }
}
